<hlm-dialog>
  <button id="create-cliente" brnDialogTrigger hlmBtn size="sm">
    Criar Cliente
  </button>
  <hlm-dialog-content
    class="sm:max-w-[425px] md:min-w-[550px]"
    *brnDialogContent="let ctx"
  >
    <hlm-dialog-header>
      <h3 hlmDialogTitle>Criar Cliente</h3>
      <p hlmDialogDescription>Insira os dados para cadastro do cliente.</p>
    </hlm-dialog-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit($event, ctx)">
      <div class="py-4 space-y-3 w-full">
        <div class="flex flex-col gap-2">
          <label hlmLabel for="nome" class="text-left">Nome</label>
          <input hlmInput id="nome" class="w-full" formControlName="nome" />
        </div>
        <div class="flex flex-col gap-2">
          <label hlmLabel for="email" class="text-left">Email</label>
          <input
            hlmInput
            id="email"
            type="email"
            class="w-full"
            formControlName="email"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label hlmLabel for="telefone" class="text-left">Telefone</label>
          <input
            hlmInput
            id="telefone"
            class="w-full"
            formControlName="telefone"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label hlmLabel for="endereco" class="text-left">Endereço</label>
          <input
            hlmInput
            id="endereco"
            class="w-full"
            formControlName="endereco"
          />
        </div>
      </div>
      <hlm-dialog-footer>
        <button hlmBtn type="submit">Salvar alterações</button>
      </hlm-dialog-footer>
    </form>
  </hlm-dialog-content>
</hlm-dialog>
