<div class="border border-border rounded-md p-5 bg-sidebar">
  <div class="flex items-center justify-between mb-5">
    <h1 class="text-lg font-semibold">Listagem de Pedidos</h1>

    <button hlmBtn>Novo Pedido</button>
  </div>

  <div>
    <!-- filtros -->
  </div>

  <table
    class="w-full mt-10 overflow-hidden rounded-md shadow-md border border-gray-200"
  >
    <thead class="bg-table uppercase text-sm font-semibold">
      <tr>
        <th class="px-4 py-3 text-left">Nome</th>
        <th class="px-4 py-3 text-left">Descrição</th>
        <th class="px-4 py-3 text-left">Preço</th>
        <th class="px-4 py-3 text-left">Estoque</th>
        <th class="px-4 py-3 text-left">Ativo</th>
        <th class="px-4 py-3 text-left">Ações</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <tr class="hover:bg-gray-50 transition-colors">
        <!-- <td class="px-4 py-3 text-sm text-gray-700">{{ produto.nome }}</td>
        <td class="px-4 py-3 text-sm text-gray-700">{{ cliente.descricao }}</td>
        <td class="px-4 py-3 text-sm text-gray-700">{{ cliente.preco }}</td>
        <td class="px-4 py-3 text-sm text-gray-700">{{ cliente.estoque }}</td>
        <td class="px-4 py-3 text-center text-sm text-gray-700">
          {{ produto.ativo ? "Ativo" : "Inativo" }}
        </td> -->
        <td class="px-4 py-3 text-center">
          <button
            class="text-blue-600 hover:text-blue-800 text-sm font-medium mr-2"
          >
            Editar
          </button>
          <button class="text-red-600 hover:text-red-800 text-sm font-medium">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
